<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News-Client</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>

<main>
    <header>
        <nav>
            <div class="ui stackable large menu">
                <a th:href="@{/}" class="header item">News-Client</a>
                <div class="item">
                    <!-- Search Form-->
                    <form th:action="@{/search}" th:object="${searchDto}" method="post">
                        <div class="ui action input">
                            <input type="text" id="searchInput" th:field="*{text}">
                            <button class="ui teal icon button" type="submit">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="right menu">
                    <div class="item">
                        <!-- Manual Sync -->
                        <a th:href="@{/}" class="ui teal button"><i class="refresh icon"></i>Manual Sync</a>
                    </div>
                    <div class="item">
                        <!-- Websocket Connection -->
                        <div id="webSocketSwitch" class="ui slider checkbox disabled">
                            <input type="checkbox" checked="checked">
                            <label>WebSocket</label>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="ui text container">
        <div class="ui teal segment" style="margin-top:10px">
            <!-- News List -->
            <div id="newsList" class="ui unstackable divided items">
                <div class="item" th:each="news : ${newsList.content}">
                    <div class="image">
                        <img th:src="@{${'/img/' + news.category + '.jpg'}}" style="width:150px; height:120px">
                    </div>
                    <div class="content">
                        <div class="meta" style="float:right">
                            <span th:text="${#dates.format(news.datetime, 'dd-MMM-yyyy HH:mm:ss')}">Datetime</span>
                        </div>
                        <div class="ui medium blue header" th:text="${#strings.toUpperCase(news.category)}">Category</div>
                        <div class="ui divider"></div>
                        <div class="ui large header" th:text="${news.title}">Title</div>
                        <div class="description">
                            <p th:text="${news.text}">Text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="/app.js"></script>

</body>
</html>