spring:
  application:
    name: news-client
  cloud:
    schema-registry-client:
      endpoint: http://${SCHEMA_REGISTRY_HOST:localhost}:${SCHEMA_REGISTRY_PORT:8081}
    stream:
      kafka:
        binder:
          brokers: ${KAFKA_HOST:localhost}:${KAFKA_PORT:29092}
          auto-add-partitions: true
          min-partition-count: 2
          enable-observation: true
      bindings:
        news-in-0:
          destination: com.ivanfranchin.newspipeline.collector.news
          content-type: application/*+avro
          group: newsClientGroup
          consumer:
            max-attempts: 4
            back-off-initial-interval: 10000
  main:
    allow-bean-definition-overriding: true

management:
  endpoints:
    web:
      exposure.include: beans, env, health, metrics, mappings
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans

eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka
  instance:
    preferIpAddress: true
